@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #171717;
}

[class="dark"] {
  --background: #171717;
  --foreground: #fafafa;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-poppins);
    background-color: var(--background);
    color: var(--foreground);
    transition: background 0.3s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair);
    font-weight: 700;
    line-height: 1.6;
  }

  h1 {
    @apply text-[2rem] md:text-[3rem];
  }
  h2 {
    @apply text-[2.5rem];
  }
  h3 {
    @apply text-[2rem];
  }
  h4 {
    @apply text-[1.75rem];
  }
  h5 {
    @apply text-[1.5rem];
  }
  h6 {
    @apply text-base;
  }

  p {
    font-size: 1rem;
    @apply text-neutral-500;
  }

  section {
    @apply w-full mb-8;
  }

  /* a {
    @apply underline;
  } */

  input[type="search" i]::-webkit-search-cancel-button {
    /* position: relative;
  right: 20px; */

    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: url("/x.svg") no-repeat 50% 50%;
  }
}

@layer components {
  .profileDropdown {
    @apply px-2 py-2 bg-neutral-50 dark:bg-neutral-800 dark:border-neutral-700 border border-neutral-400 rounded-lg flex flex-col gap-1 text-sm text-neutral-500 w-[250px];
  }

  .profileDropdown li {
    @apply px-2 py-1 rounded hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:hover:text-neutral-50 hover:text-neutral-800 hover:font-semibold transition-colors duration-300;
  }

  .profileDropdown li a {
    @apply flex gap-2;
  }

  .dot-divider {
    @apply h-1 w-1 rounded-full bg-neutral-500;
  }
}

@layer utilities {
  .container {
    @apply w-full px-5 py-4 mx-auto max-w-[1280px];
  }

  .contained {
    @apply bg-neutral-900 hover:bg-neutral-700 dark:bg-neutral-800 text-neutral-100 font-semibold px-3.5 py-2 rounded-lg cursor-pointer;
  }

  .ghost {
    @apply text-neutral-900 bg-transparent font-semibold px-3.5 py-2 rounded-lg cursor-pointer dark:bg-neutral-800 dark:hover:bg-neutral-600 hover:bg-neutral-50 transition-all;
  }

  .font-poppins {
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  }

  .font-playfair {
    font-family: var(--font-playfair), Georgia, "Times New Roman", Times, serif;
  }
}

.animate-scaleDownLeft {
  animation: scaleDownLeft 0.3s forwards;
}

.animate-scaleUpRight {
  animation: scaleUpRight 0.3s forwards;
}

@keyframes scaleDownLeft {
  from {
    transform-origin: top right;
    transform: scale(0);
  }
  to {
    transform-origin: top right;
    transform: scale(1);
  }
}

@keyframes scaleUpRight {
  from {
    transform-origin: top right;
    transform: scale(1);
  }
  to {
    transform-origin: top right;
    transform: scale(0);
  }
}

/* Swiper JS styles */
.swiper {
  width: 600px;
  height: 300px;
}
